*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  .container{
   height: 100vh;
 }

 header{
  height: 8%;
  border: 1px red solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
 }
.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px blue solid;
}

.buttons a{
  margin-right:1rem ;
}
 .buttons img{
  width: 2rem;
 }



 .search img{
  width: 1.2rem;
 }

 .main{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
 }
 .search input{
  width: 35rem;
  height: 2.5rem;
  border-radius: 20px;
 }
 .search #img1{
  position: relative;
  left: -550px;
  top: 7px;
 }